.swiper {
  margin-top: 80px;
  max-height: 70vh;

}
.swiper-button-next,
.swiper-button-prev {
   outline: none;
}

div.swiper-button-next, div.swiper-button-prev {
  top: 50%
}
.swiper-slide{
  color: wheat;
}